.new-collections {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.new-collections h1 {
    color: #171717;
    font-size: 2.5rem;
    font-weight: 600;
}
.new-collections hr {
    height: 4px;
    width: 200px;
    border-radius: 10px;
    background-color: #252525;
}
.collections {
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    margin-top: 50px;
}


@media screen and (max-width: 775.9px) {
    .new-collections {
        height: auto;
        margin-top: 40px;
        padding: 15px 0;
    }
    .new-collections h1 {
        font-size: 2rem;
    }
    .new-collections hr {
        height: 3px;
        width: 150px;
    }
    .collections {
        justify-content: space-between;
        gap: 40px;
        margin-top: 30px;
    }
}


@media screen and (max-width: 443.9px) {
    .new-collections {
        justify-content: center;
        margin-top: 40px;
    }
    .new-collections h1 {
        font-size: 1.75rem;
    }
    .new-collections hr {
        height: 3px;
        width: 125px;
    }
    .collections {
        justify-content: center;
        row-gap: 40px;
        margin-top: 40px;
    }
}